@model List<CadastroUsuarios.Models.Pessoa>


<div class="container">
  <h2 class="text-center mb-4">Lista de Pessoas</h2>

  <div class="row fw-bold border-bottom pb-2 mb-2">
    <div class="col">Nome</div>
    <div class="col">CPF</div>
    <div class="col">Sexo</div>
    <div class="col">Cidade</div>
    <div class="col">UF</div>
  </div>

  @foreach (var pessoa in Model)
  {
    <div class="row border-bottom py-2">
      <div class="col">@pessoa.Nome</div>
      <div class="col">@pessoa.CPF</div>
      <div class="col">@pessoa.Sexo</div>
      <div class="col">@pessoa.Cidade</div>
      <div class="col">@pessoa.UF</div>
    </div>
  }
</div>
