@model List<CadastroUsuarios.Models.Pessoa>

<div class="container my-5">

    <div class="table-responsive bg-white p-3">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-light text-center">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data Nascimento</th>
                    <th>Sexo</th>
                    <th>Estado Civil</th>
                    <th>CPF</th>
                    <th>CEP</th>
                    <th>Endereço</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in Model)
                {
                    <tr>
                        <td class="text-center">@pessoa.ID</td>
                        <td>@pessoa.Nome</td>
                        <td class="text-center">@pessoa.DataNascimento.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@pessoa.Sexo</td>
                        <td class="text-center">@pessoa.EstadoCivil</td>
                        <td class="text-center">@pessoa.CPF</td>
                        <td class="text-center">@pessoa.CEP</td>
                        <td>@pessoa.Endereço</td>
                        <td class="text-center">@pessoa.Número</td>
                        <td>@pessoa.Complemento</td>
                        <td>@pessoa.Bairro</td>
                        <td>@pessoa.Cidade</td>
                        <td class="text-center">@pessoa.UF</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mt-4">
    <a href="@Url.Action("Index", "Home")" class="btn btn btn-primary w-25">Voltar ao Menu</a>
</div>
