
@model List<Pessoa>

@{
    ViewData["Title"] = "Pessoas Cadastradas";
}

<h2><text>Pessoas Cadastradas</text></h2>
<div class="container my-5">
    <div class="table-bordered">
        <table class="table table-striped-columns align-baseline">
            
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data Nascimento</th>
                <th>Sexo</th>
                <th>Estado Civil</th>
                <th>CPF</th>
                <th>CEP</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                
            </tr>
            <tbody>
            @foreach (var pessoa in Model)
            {
                <tr>
                    <td>@pessoa.ID</td>
                    <td>@pessoa.Nome</td>
                    <td>@pessoa.DataNascimento.ToString("dd/MM/yyyy")</td>
                    <td>@pessoa.Sexo</td>
                    <td>@pessoa.EstadoCivil</td>
                    <td>@pessoa.CPF</td>
                    <td >@pessoa.CEP</td>
                    <td>@pessoa.Endereço</td>
                    <td >@pessoa.Número</td>
                    <td>@pessoa.Complemento</td>
                    <td>@pessoa.Bairro</td>
                    <td>@pessoa.Cidade</td>
                    <td>@pessoa.UF</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mt-4">
    <a href="@Url.Action("Index", "Home")" class="btn btn btn-primary w-25">Voltar ao Menu</a>
</div>
